.display-title{
    font-weight: bold;
    font-size: 50px;
}

.display-subtitle{
    font-weight: bold;
    font-size: 45px;
}

.display-description{
    font-weight: bold;
    font-size: 20px;
}

.display-table-contents{
    font-weight: lighter;
    font-size: x-large;
}

.display-firstname{
    font-weight: bold;
    font-size: 40px;
}

.display-lastname{
    font-weight: normal;
    font-size: 30px;
}

.group-banner{
    height: auto;
    background-color: black;
    background-size: contain;
    background-repeat: repeat-x;
    max-height: 50vh;
}

.individuals{
    font-family: 'arsenica_trialthin_italic';
}


.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
}

.zoom img{
    transition: all 0.4s;
}

.blur {
    filter: blur(30px);
    transition: filter 1s linear;
}
