.display-title{
    font-weight: bold;
    font-size: 50px;
}

.display-subtitle{
    font-weight: bold;
    font-size: 45px;
}

.display-description{
    font-weight: normal;
    font-size: 20px;
}

.display-table-contents{
    font-weight: lighter;
    font-size: x-large;
}

.display-firstname{
    font-weight: bold;
    font-size: 40px;
}

.display-lastname{
    font-weight: normal;
    font-size: 30px;
}

.group-banner{
    height: auto;
    background-color: black;
    background-size: contain;
    background-repeat: repeat-x;
    max-height: 50vh;
}

.individuals{
    font-family: 'arsenica_trialthin_italic';
}